In [26]:
import numpy as np
import pandas as pd

df = pd.read_csv("country_vaccination_stats_imputed_version.csv")
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [27]:
df.groupby(by="country").median().sort_values(by="daily_vaccinations",ascending=False).iloc[:3]

               daily_vaccinations
country
United States            378253.0
China                    276786.0
India                    173922.0